common --keep_going

clean --async

build --action_env=CARGO_BAZEL_REPIN=true
build --noexperimental_check_external_repository_files
build --noexperimental_check_output_files
# https://github.com/aspect-build/rules_js/issues/409
# build --nosandbox_default_allow_network
build --incompatible_default_to_explicit_init_py
# https://github.com/aspect-build/rules_js/issues/1408
build --noincompatible_disallow_unsound_directory_outputs
build --disk_cache=~/.cache/bazel
build --nolegacy_external_runfiles
build --nolegacy_important_outputs
build --jobs=64
build --incompatible_strict_action_env
build --experimental_writable_outputs

build --@rules_rust//:clippy_flags=-D,clippy::enum_glob_use,-D,clippy::nursery,-D,clippy::pedantic,-D,clippy::unwrap_used
build --@rules_rust//:extra_rustc_flag="-Dunsafe_code"
build --@rules_rust//:rustfmt.toml=//:.rustfmt.toml
# https://github.com/bazelbuild/rules_rust/issues/2418
# https://github.com/rust-lang/rust-clippy/pull/12203
build --@rules_rust//rust/settings:experimental_toolchain_generated_sysroot=False

build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks
build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build --output_groups=+rustfmt_checks

build:deploy --compilation_mode=opt
build:deploy --extra_toolchains=@llvm_toolchain_with_sysroot//:cc-toolchain-x86_64-linux
# https://github.com/grailbio/bazel-toolchain/pull/229.
build:deploy --features=-libtool
build:deploy --features=fully_static_link
build:deploy --platforms=@rules_go//go/toolchain:linux_amd64,@toolchains_llvm//platforms:linux-x86_64
build:deploy --@rules_go//go/config:pure=false
build:deploy --@rules_go//go/config:static=true

test --build_tests_only
test --incompatible_exclusive_test_sandboxed
test --test_verbose_timeout_warnings

try-import %workspace%/.bazelrc.user
