/bazel-*
/MODULE.bazel.lock
/node_modules
/rust-project.json
.DS_Store
.env*.local
build
coverage
data
!/paddle_ocr/data/BUILD.bazel
!/paddle_ocr/data/model/BUILD.bazel
node_modules
out

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
